/NetBeansProjects/Guia6/nbproject/private/
/NetBeansProjects/Guia 6/nbproject/private/
/NetBeansProjects/Guia 6/build/
/NetBeansProjects/Guia7/nbproject/private/
/NetBeansProjects/Guia7/build/
/NetBeansProjects/Guia8/nbproject/private/
/NetBeansProjects/Guia8/build/
